@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face {
    font-family: 'Handlee';
    src: url('Handlee-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'local';
    src: url('SimpleThread_PERSONAL_USE_ONLY.otf');
}
h1 {
    font-family: 'Handlee';
}

p.rede {
    font-family: 'Amatic SC', cursive;

}