@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #5687A6, #568FA6);
}

main {
    background-color: #BFBDBF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-family: serif;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: monospace;
    text-align: center;
}